@(shareForm: Form[ShareRecord])



<!DOCTYPE html>
<html>
  <head>
    <title>Share your songs !</title>
    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
  </head>
  <body>






  @helper.form(action = controllers.routes.Application.submit(), 'class -> "well", 'target ->"_blank"){



      @helper.select(shareForm("source"), options = Seq[(String, String)](("DEEZER","Deezer"), ("SPOTIFY", "Spotify")), '_label -> "Source")
      @helper.select(shareForm("destination"),options = Seq[(String, String)](("DEEZER","Deezer"), ("SPOTIFY", "Spotify")), '_label -> "Destination")
      @helper.inputText(shareForm("id"),'_label -> "Track ID", '_help -> "For Deezer, id of the track. For Spotify, the spotify track URI.")
      @helper.select(shareForm("type"),options = Seq[(String, String)](("track", "track")),'_label -> "Type")

      <div class="form-actions">
          <button type="submit" class="btn btn-primary">Share</button>

      </div>


  }


  </body>
</html>