@(shareForm: Form[ShareRecord])



<!DOCTYPE html>
<html>
<head>
    <title> Share your songs ! </title>
    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>




</head>
<body>

    <script type="text/javascript">




            $(function() {
        function refreshSelects(source, destination){
        $("select#"  + destination).prop("selectedIndex",  $("select#" + source).prop("selectedIndex"));
        }
        refreshSelects("source", "destination");
        $("select#source").change(function(){
        refreshSelects("source", "destination");
        }) ;
        $("select#destination").change(function(){
        refreshSelects("destination", "source");
        }) ;
            });



    </script>




    @helper.form(action = controllers.routes.Application.submit(), 'class -> "well", 'target -> "_blank") {


        @helper.select(shareForm("source"), options = Seq[(String, String)](("DEEZER", "Deezer"), ("SPOTIFY", "Spotify")), '_label -> "Source", '_id -> "source")
        @helper.select(shareForm("destination"), options = Seq[(String, String)](("SPOTIFY", "Spotify"), ("DEEZER", "Deezer")), '_label -> "Destination", '_id -> "destination")
        @helper.inputText(shareForm("id"), '_label -> "Track ID", '_help -> "For Deezer, id of the track. For Spotify, the spotify track URI.")
        @helper.select(shareForm("type"), options = Seq[(String, String)](("track", "track")), '_label -> "Type")

        <div class="form-actions">
            <button type="submit" class="btn btn-primary"> Share </button>

        </div>


    }


</body>
</html>